/***  RESET ***/
* { padding: 0; margin: 0; box-sizing: border-box;  font-size: 1em; font-weight: initial; }
a { color: black; text-decoration: none; } a, label, figcaption { display: inline-block; } fieldset, input[type="submit"] { border: none; } img, video { width: 100%; height: auto; background-size: contain; background-repeat: no-repeat; } input, button { border: 0; }input[type="text"], input[type="tel"] { width: 100%; }input[type="checkbox"], input[type="radio"] { display: none; } ol, ul { list-style: none; }
/*** END RESET ***/

/*** CANCEL ***/
.cart table ~ * a { display: inline; }
/*** END CANCEL ***/

/*** Z-INDEXES ***/
.u-button_veil { position: relative; z-index: 8; }
.u-button { position: relative; z-index: 18; }
.u-button_wrap article { position: relative; z-index: 28; }
/*** END Z-INDEXES ***/

/*** COLORS ***/
.community img,
.m-products-item,
.showcase-packaging,
.u-link,
.CSSbtnColor,
.js-btnAddToCart,
.js-btnSelectSize.is-active { background-color: #4A604D; }

.community img,
.u-button_wrap article > img,
.u-button { background-color: goldenrod; background-color: #4A604D; color: white; }
.m-products-item figcaption, .m-products-item *,
.u-button_wrap article * { color: white; }
.u-button_wrap article input { color: black; }
.u-button_wrap article.contact > img { //background-color: goldenrod; }


input, button { background-color: white; }
.m-vegetable-nav,
.u-button_veil { background-color: rgba(255, 255, 255, .8); }
.js-btnSelectSize:not(.is-active) { background-color: rgba(255, 255, 255, .4); }
.u-button_wrap article > label,
.u-link,
.CSSbtnColor,
.js-btnAddToCart,
.js-btnSelectSize.is-active { color: white; }

html, body { background-color: #eee; }

.u-button_wrap article > label { background-color: black !important; }
/*** END COLORS ***/

/*** FONTS ***/
@font-face {
				font-family: "Kitahara";
				src: url("KitaharaBrushScriptDemo.ttf") format("truetype");
}
@font-face {
				font-family: "BRUSHSCI";
				src: url("BRUSHSCI.ttf") format("truetype");
}

* { font-family: sans-serif; }
.CSSfont, .CSSfont * {
				font-family: "Kitahara"; line-height: .88em;
//				font-family: "BRUSHSCI";
}
.CSSfontDigits { font-family: initial; }
.cart tr .CSSfont,
.cart table ~ * .CSSfont,
.m-products .CSSfont,
.m-vegetable-nav .CSSfont { font-size: 1.8em; }
.cart-table-total span:nth-child(1) { font-size: 1.5em; }
.m-products .CSSfontDigits { font-size: .7em; vertical-align: middle; margin-right: .18em; }

.cart-title,
.cart tr .CSSfont,
.m-vegetable-nav h4,
.js-vProductPrice { font-weight: bold; }
.cart-table-total span:nth-child(1),
.footer { text-align: center; }
.m-vegetable-nav h4,
.u-button_wrap.vRight { text-align: right; }
.CSSfont, .CSSfont * { text-transform: lowercase; }
/*** END FONTS ***/

/*** MEDIA ***/
.u-link:before { background-image: url("drc_c.png"); }
.u-link:before {
				background-position: center;
				background-repeat: no-repeat;
				background-size: 100%;
}

.js-radio { background-image: url("radioA.png"); }
.u-button { background-size: 80%; }

.u-button,
.cart img,
.community img,
.showcase-packaging,
.m-vegetables img {
				background-position: top;
				background-repeat: no-repeat;
}
				.community img { background-size: cover; }
/*** END MEDIA ***/

/*** UTILITIES ***/
				/*** .u-button ***/
				.u-button_wrap {
								position: relative;
								display: block;
								
//								background-color: green;
				}
				.u-button {
								width: 4em; height: 4em;
								display: inline-block;
				}
				.u-button.atLinks { margin-bottom: 4em; float: right; }
				.u-button.atVegetables { position: absolute; }
								.u-button_wrap article {
												position: absolute; 
												display: block; margin: auto;
	//											background-color: purple;
								}
								.u-button_wrap article.cart { top: -.1em; bottom: .1em; }
								.u-button_wrap article.contact { right:  1em; }
								.u-button_wrap article > img.cart-placeholder { aspect-ratio: 2.5/4; }
								.u-button_wrap article > img.contact-placeholder { aspect-ratio: 1/1; }
								.u-button_veil {
												position: fixed; top: .1em; left: 0;
												width: 100%; height: 100%;
								}

				/*** .u-link ***/
				.u-link_wrap { display: inline-block; }
				.u-link_wrap > span { display: block; }
								.u-link_wrap.is-money { padding-top: 1.5em; }
				.u-link {
								position: relative;
								padding: .8em 1em;
				}
				.u-link:before {
								content: "";
								position: absolute; top: 0;
								width: auto; height: 100%; aspect-ratio: 1/1;
				}
				.u-link.vRight { margin-right: 4em; }
				.u-link.vRight:before { left: 104%; }
/*** END UTILITIES ***/

/*** MIXINS ***/
				/*** .m-products ***/
				.m-products_dock,
				.m-products-item { display: flex; }
				.m-products-item { flex-direction: column; }
				.m-products-item { flex: 1; }

				.m-products { 
								padding: .1em 1em;
								overflow-x: auto;
				}
				.m-products-item {
								aspect-ratio: 2.5/4;
								margin: .1em .5em;
				}
				.m-products-item figcaption {
								padding: 1em;
								// aspect-ratio: 4/4;
				}
				.m-products-item figcaption a { display: inline; }
				.m-products-item img { //margin: 0 .5em; //display: none; }
				.m-products-item figcaption p { padding-top: 1em; }

				/*** .m-vegetables ***/
				.m-vegetables-list-item div,
				.m-vegetables-list > li > ul { display: flex; }
				.m-vegetables-list-item div { align-items: center; }

				.m-vegetables {
								overflow-x: scroll;
								padding: 1em;
				}
				.m-vegetables-list-item {
								position: relative;
								padding: .5em;
				}
				.m-vegetable-nav {
								position: absolute; bottom: -.1em; left: -.1em; right: .1em; z-index: 100%;
								width: 80%;
//								padding: 1em;
								margin: auto;
								margin-bottom: 1.5em;
				}
				.m-vegetable-nav h4 { margin: .5em; margin-bottom: 0 !important; }
				.m-vegetable-nav div { margin: .9em; }
				.m-vegetable-nav span { padding: .18em; }
								.m-vegetable-nav label,
								.js-btnAddToCart {
												padding: .18em .5em !important;
												padding: .4em .7em !important;
								}
				.m-vegetable-nav-select { margin-right: .4em; }
								/*** CSS-HACKS ***/
								.m-vegetables-list li { width: 100%; }
								.m-vegetables-list-item > label { width: 100%; }
/*** END MIXINS ***/

/*** COMPONENTS ***/
				/*** COMMONS ***/
				.community,
				.footer,
				.nav,
				.hgroup,
				.invest,
				.showcase,
				.u-button_wrap,
				.u-button_wrap article form { padding: 1.5em; }
				input[type="submit"], button,
				.m-vegetable-nav label,
				.m-vegetable-nav span { border-radius: 4em !important; }
				.u-button { border-radius: 50%; }

				input, button {
								padding: .4em .7em;
								margin-bottom: .4em;
				}

				/*** .cart ***/
				.cart table tr,
				.cart table tr td { display: flex; }
				.cart-content,
				.cart table tr td { flex-direction: column; }
				.cart table tr td { justify-content: center; }
				.cart table tr td * { // flex: 1; }

				.cart { width: 100%; }
				.u-button_wrap article, .u-button_wrap article form { width: 100%; height: 100%; }
.u-button_wrap article > label {
								position: absolute; top: 0; right: 0;
								padding: .5em;
				}
				.u-button_wrap article form {
								position: absolute; top: .1em; right: .1em;
								width: 100%; height: 100% !important;
//								overflow-y: scroll;
								
//								background-color: purple;
				}
				.cart table { width: 100%; }
				.cart table tr { margin: .5em 0; }
				.cart-table-details { padding: 0 1em; }
								/*** CSS-HACKS ***/
								.cart table { min-height: 8em; }
								.cart table ~ div { margin-bottom: .4em; }

				/*** .community ***/
				.community { display: flex; }
				.community img { flex: 1; }

				.community { position: relative; }
				.community img { aspect-ratio: 2.5/4; }
								/*** CSS-HACKS ***/
								.community { padding-top: 4em; }

				/*** .nav ***/
				.nav { display: flex; align-items: center; }

				/*** .showcase ***/
				.showcase-packaging { aspect-ratio: 2.5/4; }
				
/*** END COMPONENTS ***/

/*** INTERACTIVITY ***/
.u-button_wrap article,
.u-button_wrap + .u-button_veil { display: none; }
#chbx4cart:checked ~ main .u-button[for="chbx4cart"] ~ article,
#chbx4contact:checked ~ main .u-button[for="chbx4contact"] ~ article,
#chbx4cart:checked ~ main .cart_wrap + .u-button_veil { display: inline-block; }

.m-vegetable-nav { display: none; }
#rdb4vegetable2:checked ~ main .m-vegetables-list > li:first-child .m-vegetables-list-item:nth-child(2) .m-vegetable-nav,
#rdb4vegetable3:checked ~ main .m-vegetables-list > li:first-child .m-vegetables-list-item:nth-child(3) .m-vegetable-nav,
#rdb4vegetable4:checked ~ main .m-vegetables-list > li:nth-child(2) .m-vegetables-list-item:nth-child(1) .m-vegetable-nav,
#rdb4vegetable5:checked ~ main .m-vegetables-list > li:nth-child(2) .m-vegetables-list-item:nth-child(2) .m-vegetable-nav,
#rdb4vegetable6:checked ~ main .m-vegetables-list > li:nth-child(2) .m-vegetables-list-item:nth-child(3) .m-vegetable-nav { display: block; }
/*** END INTERACTIVITY ***/

/*** MEDIA QUERIES ***/
@media screen and (max-width: 50em) {
				/*** FONTS ***/
				html { font-size: 14px; }
				.CSSfont { font-size: 3em; }
				h1,
				hgroup p { font-size: 1.18em; }
				
				/*** UTILITIES: .u-button_wrap ***/
				.u-button_wrap article.cart { max-width: 70%; }
				.u-button_wrap article.contact { max-width: 90%; }
				
				.u-button.atCommunity { position: absolute; right: 1.5em; top: -1.5em; }
				
				/*** MIXINS: .m-vegetables ***/
				.m-products_dock,
				.m-vegetables-list > li ul { width: 180%; }
				
				/*** COMPONENTS: .cart ***/
				.cart table img { width: 4em; }
				
				/*** COMPONENTS: .community ***/
				
				/*** COMPONENTS: .hgroup ***/
				.hgroup p { margin-left: 10%; }
				
				/*** COMPONENTS: .hgroup ***/
								/*** COMPONENTS: .hgroup ***/
				
				/*** COMPONENTS: .showcase ***/
								/*** CSS-HACKS: .showcase ***/
}
@media screen and (min-width: 50em) {
				/*** FONTS ***/
				html { font-size: 18px; }
				.CSSfont { font-size: 4em; }
								.u-button_wrap h4.CSSfont { font-size: 3em; }
				h1,
				hgroup p { font-size: 1.8em; }
				
				/*** COMMONS ***/
				.
				.showcase { padding: 0; }
				
				/*** UTILITIES: .u-button_wrap ***/
				.u-button_wrap article.cart { max-width: 40%; }
				.u-button_wrap article.contact { width: 133%; }
				
				.u-button.atCommunity { position: absolute; left: -4em;  }
				
								.u-button_wrap article.contact { left: 60%; right:  initial; }
								.u-button_wrap article.contact {
												left: initial; right: .1em;
												top: -15em;
								}
								.u-button_wrap article.contact { max-width: 70%; }
				
				/*** MIXINS: .m-vegetables ***/
				.m-vegetables-list { width: 180%; width: 100%; }
								/*** VIEWPORT: .m-vegetables ***/
								.m-vegetables-list { //display: flex; }
								.m-vegetable-nav-top { flex-wrap: wrap; justify-content: flex-end; }
				
				/*** COMPONENTS: .cart ***/
				.cart table img { width: 4em; }
				
				/*** COMPONENTS: .community ***/
								/*** VIEWPORT: .community ***/
								.community { margin-left: 33.333%; }
				
				/*** COMPONENTS: .hgroup ***/
				.hgroup p { margin-left: 15%; }
				
				/*** COMPONENTS: .invest ***/
								/*** VIEWPORT: .invest ***/
								.invest { display: flex; }
								.invest div { flex: 1; }
				
				/*** COMPONENTS: .showcase ***/
								/*** VIEWPORT: .showcase ***/
								.showcase { display: flex; }
								.showcase > figure { flex: 1; }
				
								.showcase figure { width: 33.333%; }
								.showcase div { width: 66.666%; }
								/*** CSS-HACKS: .showcase ***/
								.showcase div { padding-left: 1.5em; }
								.showcase .u-button_wrap { //margin-top: 15em; }
}			
/*** END MEDIA QUERIES ***/

/*** ANIMATION ***/
.js-radio { animation: radio 1.8s infinite; }
@keyframes radio {
				from { transform: scale(1); }
				to { transform: scale(1.2); }
}
/*** END ANIMATION ***/

/*** DECORATION ***
				/*** .d-snapPoints ***/
				.d-snapPoints-grandParent,
				.d-snapPoints-parent { width:100%; height: 100%; }
				.d-snapPoints-parent { width: 400%; }
				.d-snapPoints-grandParent {
								overflow: auto;
								
								scroll-snap-type: mandatory;
								-webkit-scroll-snap-type: mandatory;
								-ms-scroll-snap-type: mandatory;
								-o-scroll-snap-type: mandatory;
								
								scroll-snap-points-x: repeat(50%);
								-webkit-scroll-snap-points-x: repeat(50%);
								-ms-scroll-snap-points-x: repeat(50%);
								-o-scroll-snap-points-x: repeat(50%);
								
								scroll-snap-type: x mandatory;
								-webkit-scroll-snap-type: x mandatory;
								-ms-scroll-snap-type: x mandatory;
								-o-scroll-snap-type: x mandatory;
				}
				.d-snapPoints {
								width: 25%; height: 100%;
								float: left;
								//		border: 1px solid purple;
								
								scroll-snap-align: center;
								-webkit-scroll-snap-align: center;
								-ms-scroll-snap-align: center;
								-o-scroll-snap-align: center;
				}
/*** END DECORATION ***/

/*** CSS TOOLS ***/
.CSSbold { font-weight: bold; }

.CSScenter {
				display: flex;
				align-items: center;
				justify-content: center;
}

.CSSmidWrap {
				width: 100%; max-width: 44em;
				max-width: 60em;
				display: block; margin: auto;
				
//				background-color: green;
}
				.shop .CSSmidwrap { //max-width: 50em; }

.CSSbold, .CSSbold * { font-weight: bold; }
.CSScapitalize { text-transform: uppercase; }
.CSSflex { display: flex; }
.CSSflipX { transform: scaleX(-1); }
.CSSitalic { font-style: italic; }
.m-vegetable-nav div,
.u-link,
.CSSnoWrap {
				white-space: nowrap !important;
				word-break: keep-all !important;
				overflow-wrap: normal !important;
}
.CSSspacer { flex: 1; }

.CSSunderline { text-decoration: underline; }
/*** END CSS TOOLS ***/


/*** CSS-HACKS ***/
.showcase hgroup { padding-left: 0; }
/*** END CSS-HACKS ***/

/*** SANDBOX ***/
.m-vegetable-nav div:last-child > span.CSSnoWrap { visibility: hidden !important; width: 1em !important;:}
.u-button_veil { display: none !important; }

article.contact > img {
				background-image: url("clientA.png");
				background-size: 80% auto;
				background-repeat: no-repeat;
				background-position: right;
}
article.contact form img { display: none; }
.contact p { padding-top: 4em; }

.m-products-item.is-onTheRight img { background-position: top right; }
/*** END SANDBOX ***/

/*** TO GIL CLEAN ***/
.m-products-item .CSSfontDigits { display: none; }